@model  List<UserWebApp.Models.UserDto>
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
</head>
<body>
    @foreach (var item in Model)
    {
        @item.Name
        @Html.Raw("&nbsp");
        @item.dateOfBirthday
        <br/>
    }
</body>
</html>